<!-- Don't edit this file by hand. See CONTRIBUTING.md. -->

# Awesome CMS [![Awesome][awesome-image]][awesome-repo]

A collection of **{{cmsCount}}** open and closed source Content Management
Systems (CMS) for your perusal. Check out [the blog post][] on the creation of
Awesome CMS.

_Last generated on {{generationTime}}. See [CONTRIBUTING.md](/CONTRIBUTING.md)
for details on generation and contribution._

{{#each tocEntries}}
- [{{text}}](#{{anchor}})
{{/each}}

**Key**

| Emoji                  | Meaning          |
| ---------------------- | ---------------- |
| :octocat:              | GitHub Repo      |
| :globe_with_meridians: | Official Website |
| :sunglasses:           | Awesome List     |
| ⓘ                      | Last Commit Date |

{{#each cmsGroups}}
## {{name}}

<table>
  <thead>
    <tr>
      {{#each headerColumns}}
        <th>{{this}}</th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each cmses}}
      <tr>
        <td width="240">
          <div>
            <b>{{name}}</b>
          </div>
          <div>
            {{#if githubURL}}
              <a href="{{githubURL}}" title="GitHub Repo">
                :octocat:
              </a>&nbsp;&nbsp;
            {{/if}}
            {{#if url}}
              <a href="{{url}}" title="Website for {{name}}">
                :globe_with_meridians:
              </a>&nbsp;&nbsp;
            {{/if}}
            {{#if awesomeURL}}
            <a href="{{awesomeURL}}" title="Awesome List for {{name}}">
              :sunglasses:
            </a>
            {{/if}}
          </div>
          <div>
            {{#if starCountText}}
              ★{{starCountText}}
            {{/if}}
            {{#if lastCommit}}
              |&nbsp;{{lastCommit}}
              <ins title="Last commit on {{lastCommit}}">ⓘ</ins>
            {{/if}}
          </div>
        </td>
        <td>{{description}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{/each}}

## Contributors

- [Jeremy Mack](https://github.com/mutewinter)
- [Paul Ford](https://github.com/ftrain)
- [Drew Bell](https://github.com/droob)
- [Stefan Grund](https://github.com/stefangrund)
- [Phil Wareham](https://github.com/philwareham)
- [Odirlei Borgert](https://github.com/odirleiborgert)
- [Jack McDade](https://github.com/jackmcdade)
- [Randy Oest](https://github.com/amazingrando)
- [Nicolas Widart](https://github.com/nWidart)
- [Iain K. MacLeod](https://github.com/boostventilator)
- [Saint Asky](https://github.com/loongmxbt)
- [Kumar Gaurav](https://github.com/kgthegreat)
- [Hawken Rives](https://github.com/hawkrives)
- [Gilles Bourgeat](https://github.com/gillesbourgeat)
- [redaxmedia](https://github.com/redaxmedia)
- [Mohammad Faisal](https://github.com/faisalhmohd)
- [PitOn](https://github.com/GarPit)
- [Dirk Schürjohann](https://github.com/schuer)
- [sserot](https://github.com/sserot)
- [joshin4colours](https://github.com/joshmgrant)

## License

[![CC0](https://licensebuttons.net/p/zero/1.0/88x31.png)](https://creativecommons.org/publicdomain/zero/1.0/)

[awesome-image]: https://cdn.rawgit.com/sindresorhus/awesome/d7305f38d29fed78fa85652e3a63e154dd8e8829/media/badge.svg
[awesome-repo]: https://github.com/sindresorhus/awesome
[the blog post]: https://trackchanges.postlight.com/building-awesome-cms-f034344d8ed
