<!-- Don't edit this file by hand. See CONTRIBUTING.md. -->

# Awesome CMS [![Awesome][awesome-image]][awesome-repo]

_Last generated on {{generationTime}}. See [CONTRIBUTING.md](/CONTRIBUTING.md)
for details on generation and contribution._

{{#each tocEntries}}
- [{{text}}](#{{anchor}})
{{/each}}

## Content Management Systems

**Key**

| Emoji                  | Meaning          |
| ---------------------- | ---------------- |
| :octocat:              | GitHub Repo      |
| :globe_with_meridians: | Official Website |
| :information_source:   | Last Commit Date |
| :sunglasses:           | Awesome List     |

{{#each cmsGroups}}
### {{name}}

<table>
  <thead>
    <tr>
      {{#each headerColumns}}
        <th>{{this}}</th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each cmses}}
      <tr>
        <td width="240">
          <div>
            <strong>{{name}}</strong>
          </div>
          <div>
            {{#if githubURL}}
              <a href="{{githubURL}}" title="GitHub Repo">
                :octocat:
              </a>&nbsp;&nbsp;
            {{/if}}
            {{#if url}}
              <a href="{{url}}" title="Website for {{name}}">
                :globe_with_meridians:
              </a>&nbsp;&nbsp;
            {{/if}}
            {{#if awesomeURL}}
            <a href="{{awesomeURL}}" title="Awesome List for {{name}}">
              :sunglasses:
            </a>
            {{/if}}
          </div>
          <div>
            {{#if lastCommit}}
              {{lastCommit}}
              <ins title="Last commit on {{lastCommitISO}}">:information_source:</ins>
            {{/if}}
            {{#if starCount}}
              &nbsp;|&nbsp;★{{starCount}}
            {{/if}}
          </div>
        </td>
        <td>{{description}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{/each}}

## License

[![CC0](https://licensebuttons.net/p/zero/1.0/88x31.png)](https://creativecommons.org/publicdomain/zero/1.0/)

[awesome-image]: https://cdn.rawgit.com/sindresorhus/awesome/d7305f38d29fed78fa85652e3a63e154dd8e8829/media/badge.svg
[awesome-repo]: https://github.com/sindresorhus/awesome
